body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f0f0f0;
}
/*قسمت بالای صفحه*/ 
header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 0;
}
/* آیکون های نوار بالا*/ 
nav ul li {
    display: inline;
    margin:15px;
}
/*فاصله فرم مشخصات از بالای صفحه*/ 
.content {
    padding: 20px;
}
/*ظاهر فرم و...*/ 
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgb(98, 11, 238);
}
button {
    background-color: #0f1cd3;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor:crosshair;
}
a{
    cursor:alias;
}
body{background-image: url("assets/bak.jpg");
background-size:100% 100%;
background-attachment: fixed;
background-position: center;
}



@media screen and (max-width:500px) 
/* حذف بکگراند یا تغییر هرچیز دیگر پس از 500 پیکسل */
{
    body
    {
        background-image: none;
        
    }
}

@media screen and (min-width:500px) 
/* حذف بکگراند یا تغییر هرچیز دیگر پس از 500 پیکسل */
{
    header {
        background:none;}
    body{
            color: white;
        }   
}

